[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/Pico-PIO-USB"]
	path = external/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
